.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WorkInProgress {
    padding-top: 50px;
    text-align: center;
}

.WorkInProgress a {
    color: #78c708;
}

@media only screen and (max-width: 600px) {
    .LandingPage {
        margin: 10px;
    }

    .WorkInProgress {
        margin: auto;
        max-width: 300px;
    }
}