.Timer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.2rem;
    font-size: 2rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .Timer {
        font-size: 0.8rem;
    }
}