.StatsTable {
    text-align: center;
    margin: 20px 0;
}

.StatsTable thead {
    background: forestgreen;
}

.StatsTable tbody {
    background: #808080;
}

.StatsTable th {
    padding: 1rem 0.6rem;
}

.StatsTable td {
    padding: 0.5rem;
}

.NoGamesPlayed {
    padding-top: 10px;
    text-align: center;
}