.LandingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WorkInProgress {
    padding-top: 50px;
    text-align: center;
}

.WorkInProgress a {
    color: #78c708;
}

.StartText {
    color: #282c34;
    position: relative;
    text-align: center;
    margin: 0;
}

.StartText {
    color: #363434;
}

.Disabled {
    background: #464657;
}

.Disabled:hover {
    background: #464657;
}

@media only screen and (max-width: 600px) {
    .LandingPage {
        margin: 10px;
    }

    .WorkInProgress {
        margin: auto;
        max-width: 300px;
    }
}