.LandingPage {
    display: flex;
    flex-direction: column;
}

.WorkInProgress {
    padding-top: 50px;
    text-align: center;
}

.WorkInProgress a {
    color: #78c708;
}

.StartButton {
    outline: none;
    margin: 20px auto;
    width: 300px;
    padding: 10px;
    background: #78de86;
    border: solid #59985e 3px;
    border-radius: 8px;
    font-size: 20px;
    font-family: source-code-pro, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;;
    color: black;
}

.StartText {
    color: #282c34;
    position: relative;
    text-align: center;
    margin: 0;
}

.StartText {
    color: #363434;
}

.StartButton:focus {
    border: solid #46ec52 3px;
}

.StartButton:hover {
    cursor: pointer;
    border: solid #46ec52 3px;
    background: #2cd547;
    box-shadow: 0 0 4px #7e7b7b;

}

@media only screen and (max-width: 600px) {
    .LandingPage {
        margin: 10px;
    }

    .WorkInProgress {
        margin: auto;
        max-width: 300px;
    }
}